.env
__pycache__
# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Error logs
*.log

# dotenv
*.env
*.env.local

# virtualenv
.venv
venv/
ENV/
env


.mypy_cache
.coverage
htmlcov
# static files
static

# management command outputs
data/management/output
scripts

.env*

.gitconfig